.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hero-image {
  background-image: url("./background.jpg");
  background-color: 4d6a6d;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 100vh !important;
}
