.App {
  text-align: center;
}

.hero-image {
  background-color: #130e00;
  width: auto;
  height: 100%;
  min-height: 100vh;
}
a {
  text-decoration: none;
}
label {
  margin-top: -10px;
  text-shadow: 0.5px 0.5px 1px black;
  font-family: "Helvetica, Arial";
  font-size: 16px;
}
legend {
  width: 0% !important;
}
select {
  text-shadow: 0.5px 0.5px 1px black;
}
.no-js .desk, .no-js .greyscale, .no-webp .desk, .no-webp .greyscale, .no-webp {
  background-image: url('./background.jpg');
}
.webp .desk, .webp .greyscale, .webp {
  background-image: url('./background.webp');
}
.ugly {
  background-image: url('./racoonbowtie.svg');
}