[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = {version = "*", extras = ["bcrypt"]}
graphene = "*"
graphene-django = "*"
django-graphql-jwt = "*"
python-decouple = "*"
django-cors-headers = "*"
gunicorn = "*"
dj-database-url = "*"
whitenoise = "*"
"psycopg2-binary" = "*"
django-filter = "*"
stripe = "*"
sendgrid = "*"
twilio = "*"

[dev-packages]

[requires]
python_version = "3"
