<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- NOTE: external links are for testing only -->
    <link href="//cdn.muicss.com/mui-0.9.41/email/mui-email-styletag.css" rel="stylesheet" />
    <link href="//cdn.muicss.com/mui-0.9.41/email/mui-email-inline.css" rel="stylesheet" />
  </head>
  <body>
    <table class="mui-body" cellpadding="0" cellspacing="0" border="0">
      <tr>
        <td>
          <!--

          Hi <user>!

            Welcome to contractAlchemy, your new best friend. We built contractAlchemy to help you organize and track clients, jobs, parts, and invoices all in one place. If you're using our free membership you have access to all of our features with a limit of 8 records at a time - 8 clients, 8 jobs, 8 parts, etc. The premium subscription grants access to all features with an unlimited number of records at any time. You can subscribe to our premium tier for <clickable  99¢ per month> or <clickable $9.99 per year>.
            
            Ready to get started? <insert cute clickable image that takes to home page>

            Rather explore first? <insert clickable cuteness that takes to brief how to video>

            <3 contractAlchemy 
            We turn POS into gold!

            

          -->
        </td>
      </tr>
    </table>
  </body>
</html>