.item-card {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.item-card-icons {
  display: flex;
  justify-content: space-between;
  margin: 0px 16px;
}

.item-card-name {
  margin-bottom: 32px;
}
