.job_card {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.job_card_icons {
  display: flex;
  justify-content: space-between;
  margin: 0px 16px;
}

.job_card_name {
  margin-bottom: 32px;
}
